/****************************************
*  arXiv.org Cascading Style Sheet
*  $Date: 2016/12/23 $
*****************************************/

/****************************************
*   General rules
*****************************************/
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
	font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

abbr, acronym {
	border-bottom: 0;
}

/* Following command not used by abs samples, but present in arXiv.css*/
fieldset {
	margin: 1em;
}

/* Following command not used by abs samples, but present in arXiv.css*/
fieldset legend {
	font-weight: bold;
}

/* Following command not used by abs samples, but present in arXiv.css*/
hr, .hidden {
	display: none;
}

/* Following command not used by abs samples, but present in arXiv.css*/
hr.show {
	display: block;
}

img {
	border: 0;
}

/* Following command not used by abs samples, but present in arXiv.css*/
em {
	color: #c00;
	font-weight: bold;
	font-style: normal;
}

/* Used to display localtime in bright highlight */
em.boxed {
	color: #000;
	background-color: #fff;
	border: 3px;
	border-color: #0c0;
	border-style: solid;
	padding: 5px;
	font-weight: bold;
	font-size: 150%;
	font-style: normal;
}

.primary-subject {
	font-weight: bold;
}

/****************************************
* Cornell Identity
*****************************************/
#cu-identity {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 63.125%;
	color: #222;
	height: 75px;
	background: #68645b;
	position: relative;
}

#cu-logo {
	position: absolute;
	top: 0;
	left: 20px;
	width: 303px;
	height: 75px;
	background: url(/icons/cu/cul_signature.gif) no-repeat -8px -1px;
}

#cu-logo a {
	position: absolute;
	display: block;
	border: none;
	/* hide text link */
	text-indent: -1000em;
	text-decoration: none;
}

#insignia-link {
	width: 68px;
	height: 75px;
}

#unit-signature-links a {
	left: 68px;
	width: 185px;
}

#cornell-link {
	height: 38px;
}

#unit-link {
	top: 38px;
	height: 37px;
}

#cu-logo img {
	display: none;
}

/*
 *   Support acknowledgement
 *     -----------------------
 *     */
#support-ack {
	position: absolute;
	top: 12px;
	right: 0%;
	margin: 0 12px 0 0;
	padding: 0;
	text-align: right;
	font-size: 120%;
	font-weight: bold;
	font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
	color: #fff;
}

#support-ack a {
	color: #fff;
	text-decoration: none;
	border: none;
}

#support-ack a:hover {
	background: #444;
}

/*
 *   Local icon in place of Cornell Search Navigation 
 *     ------------------------------------------------
 *     */
#local-icon {
	position: absolute;
	top: 12px;
	right: 0%;
	margin-right: 12px;
	color: #fff;
}

/****************************************
* arXiv.org Masthead
****************************************/
#header {
	background-color: #b31b1b;
	color: #fff;
	margin: 0;
	padding: 10px 0 10px 0;
	border-bottom: 2px solid #ccc;
	position: relative;
	overflow: auto; /* keep wrapping floats */
}

#header h1 {
	margin: 0;
	font-size: 1em;
	padding: 10px 0 .2em 10px;
	font-weight: bold;
	font-style: normal;
	/*	display: inline-block; */
	float: left;
}

body#front #header h1 {
	font-size: 2.5em;
	font-weight: normal;
}

#header a, #header a:visited {
	color: #fff;
	text-decoration: none;
}

#header a:hover {
	text-decoration: underline;
}

/*
 *   Masthead Search 
 *     ---------------
 *     */

/* on thin red bar pages */
#header form {
	/*position: absolute;
 * 	top: 4px;
 * 		right: 0%;*/
	margin: 0 12px 0 0;
	padding: 0;
	text-align: right;
	font-size: .8em;
	line-height: 100%;
}

/* on mirror front pages */
body#front #header form {
	top: 15px;
}

/* on CUL front page */
body.with-cu-identity #header form {
	/*	top: 80px; */
	
}

body#front.with-cu-identity #header form {
	/*	top: 92px; */
	
}

#header form input, #header form select {
	margin: 0;
	padding: 0;
}

#header form .search-for {
	font-size: 84%;
	text-align: left;
	float: left;
}

#header .login {
	padding-bottom: .5em;
	padding-right: 20px;
	font-size: 84%;
	float: right;
}

#header .login a {
	text-decoration: underline;
}

#header form .links {
	padding-bottom: .4em;
	font-size: 84%;
}

#header form .links a {
	text-decoration: underline;
}

/****************************************
 *  * Footer
 *   ****************************************/
#footer {
	background-color: #eee;
	color: #000;
	margin: 1em 0 0 0;
	padding: .7em;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-size: 80%;
	clear: both;
        overflow: hidden;
}

#footer .footer-text {
        width: 88%;
        float: left;
}

#footer .social {
        width: 10%; 
        float: right; 
        text-align: right;
}

#footer .social img {
        max-width: 100%; 
        height: auto;
}

#footer a, #footer a:visited {
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer address {
	/*font-size: 90%;*/
	margin: 5px;
	font-style: normal;
}

#footer p, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5,
	#footer h6 {
	/*font-size: 90%;*/
	margin: 5px;
}

/*
 *   Access Keys
 *     -----------
 *     */
.accesskey {
	font-weight: bold;
}

.accesskey-info {
	font-size: 80%;
}

/****************************************
 *  * Content styles
 *   ****************************************/
#content {
	margin: .7em;
	font-size: 90%;
}

/* Index page tagline */
p.tagline {
	margin: 0;
	padding: 0 0 0.3em 0;
}

/****************************************
 *  * Auth pages (/auth)
 *   ****************************************/
.editbar {
	background-color: #8080ff;
	color: white;
	font-family: monospace;
	font-weight: bold;
	line-height: 0.8;
	text-decoration: none;
}

.errmsg {
	color: #f00;
	font-style: italic;
}

/****************************************
 *  * Form interface (/form)
 *   ****************************************/
#form-interface {
	background-color: #f0eee4;
	color: #000;
	font-size: 120%;
	padding: 0.2em;
}

/****************************************
 *  * Abstract styles (/abs)
 *   ****************************************/
#abs {
	margin: -0.7em;
}

#abs .leftcolumn {
	/* the 16 + 0.35 corresponds with the .extra-services width and border */
	margin: 0 16.35em 0 0;
	padding: 0px;
}

/* arXiv.org archive/subjclass info for abs pages... */
#abs .subheader {
	background-color: #eee;
	color: #000;
	padding: .25em 0;
	border-bottom: 1px solid #ccc;
}

#abs .subheader h1 {
	margin: 0;
	font-size: 1.1em;
	padding: 0 0 .2em 20px;
	font-weight: bold;
	font-style: normal;
}

#abs .descriptor {
	display: none;
}

#abs h1.title {
	margin: .5em 0 .5em 20px;
	font-size: x-large;
	font-weight: bold;
	line-height: 120%;
}

#abs .authors {
	margin: .5em 0 .5em 20px;
	font-size: medium;
	line-height: 150%;
}

#abs .authors a {
	font-size: medium;
}

div#long-author-list {
	/* For javascript toggle of long author list display, default to hide */
	margin: 0;
	display: none;
}

#abs .dateline {
	margin: .5em 0 .5em 20px;
	font-style: italic;
	font-size: small;
}

#abs blockquote.abstract {
	line-height: 140%;
	margin-bottom: 1.5em;
}

#abs .comments {
	
}

#abs .metatable {
	font-size: 90%;
	margin: 0 0 1.5em 20px;
}

#abs .tablecell {
	padding: .1em .5em 0em 0em;
	vertical-align: top;
}

#abs .tablecell .label {
	text-align: left;
}

#abs .jref .descriptor, #abs .comments .descriptor, #abs .subjects .descriptor,
	#abs .acm-classes .descriptor, #abs .msc-classes .descriptor {
	display: inline;
}

#abs .subjects {
	
}

#abs .acm-classes, #abs .msc-classes {
	vertical-align: bottom;
	font-family: courier;
	font-size: 100%;
}

#abs .arxivid {
	font-weight: bold;
}

#abs .arxividv {
	
}

#abs .jref {
	
}

#abs .submission-history {
	margin: 1.5em 0 1.5em 20px;
	font-size: 90%;
	line-height: 1.5em;
}

#abs .submission-history h2 {
	font-size: 120%;
	margin: 0 0 .25em 0;
	font-weight: bold;
}

#abs .submission-history pre {
	font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
	margin: 0;
	line-height: 1.4em;
	padding: 0;
}

#abs .endorsers {
	margin: 1em 0 1.5em 20px;
	font-size: small;
	font-style: italic;
}

/* Floating box on right for links to extra services */
.extra-services {
	width: 16em;
	float: right;
	border-left: .35em solid #ddd;
	border-bottom: .35em solid #ddd;
	margin-left: 20px;
	/*need to define padding in sub-elements because of borders*/
}

.extra-services h3 {
	font-size: medium;
	font-weight: normal;
	margin: 0.3em 0 0.3em 0;
}

.full-text {
	margin: 0;
	padding: .5em 1em .5em 1em;
	font-size: 110%;
	font-weight: normal;
	border-bottom: medium solid #ddd;
}

.full-text h2 {
	font-size: 140%;
	font-weight: bold;
	margin: 0.1em 0 0 0;
}

.full-text .preferred {
	font-weight: bold;
}

.full-text ul {
	margin: .3em 0 0 1em;
	padding: 0;
}

.ancillary {
	margin: 0;
	padding: .0em 0em .5em 1em;
	font-size: 90%;
	font-weight: normal;
	border-bottom: medium solid #ddd;
}

.ancillary h2 {
	font-size: 120%;
	font-weight: bold;
	margin: 0.15em 0 0 0;
}

.ancillary ul {
	margin: 0 0 0 1em;
	padding: 0;
}

.ancillary .no-bullet li {
	list-style-type: none;
}

div#long-anc-list {
	/* For javascript toggle of long list display of ancillary files, default to hide */
	margin: 0;
	display: none;
}

div#long-dc-list {
	/* For javascript toggle of long list display of dcs files, default to hide */
	margin: 0;
	display: none;
}

.extra-general {
	margin: 0;
	padding: 0 1em 0 1em;
	font-size: 90%;
	border-bottom: medium solid #ddd;
}

.extra-ref-cite {
	margin: 0;
	padding: 0 1em 0 1em;
	font-size: 90%;
	border-bottom: medium solid #ddd;
}

.extra-ref-cite ul {
	font-weight: normal;
	margin: 0.3em 0 0 20px;
	padding-left: 0;
	padding-bottom: 0.3em;
}

.browse {
	padding: 0 1em 0 1em;
	font-size: 90%;
	border-bottom: medium solid #ddd;
}

.browse .current {
	padding: 0;
	font-weight: bold;
}

.browse .prevnext {
	padding: 0.2em 0 0 0;
	font-weight: bold;
}

.browse .prevnext .nolink {
	font-weight: bold;
	color: #666;
}

.browse .list {
	padding: 0.2em 0 0.5em 0;
	font-weight: normal;
}

.browse .switch {
	font-weight: normal;
	padding: .2em 0em .7em 0em;
}

.browse .switch .subclass {
	padding-left: 1.5em;
}

.dblp {
	padding: 0 1em 0 1em;
	font-size: 90%;
	border-bottom: medium solid #ddd;
}

.dblp .list {
	font-weight: normal;
	margin: 0.3em 0 0 20px;
	padding-left: 0;
	padding-bottom: 0.3em;
}

.bookmarks {
	margin: 0;
	padding: 0 1em .5em 1em;
	font-size: 90%;
	/* no bottom border because this is last extra services block */
}

/* Style to put a small (what is this?) link after a header */
.what-is-this {
	margin: 0.5em 0 0 0;
	font-size: xx-small;
	padding-bottom: 0.3em;
}

.what-is-this h3 {
	display: inline;
}

.abs-license {
	font-size: xx-small;
	padding-top: 0.3em;
}

/****************************************
 *  * DL-list styles (/list/arch-ive/new|recent, search)
 *   ****************************************/
#dlpage .list-dateline {
	font-style: italic;
}

#dlpage dd {
	padding-bottom: 1em;
}

#dlpage .meta {
	line-height: 130%;
}

#dlpage .list-identifier {
	font-weight: bold;
}

#dlpage .descriptor {
	display: inline;
}

#dlpage .list-authors .descriptor {
	display: none;
}

#dlpage .list-title .descriptor {
	display: none;
}

#dlpage .list-title {
	font-size: large;
	font-weight: bold;
	margin: .25em 0 0 0;
	line-height: 120%;
}

#dlpage .list-authors {
	font-weight: normal;
	font-size: 110%;
}

#dlpage .list-comments {
	font-weight: normal;
	font-size: 90%;
}

#dlpage .list-journal-ref {
	font-weight: normal;
	font-size: 90%;
}

#dlpage .list-subjects {
	font-size: 90%;
}

/****************************************
 *  * Search in arXiv
 *   ****************************************/
/*.login {
  position: absolute;
  top: 5px;
  right: 10px; }*/
#header #search {
	right: -10px;
	width: 350px;
	top: 30px;
	margin-right: 0;
	float: right;
	clear: right; /*to get it under login*/
}

#header #search-arxiv .wrapper-search-arxiv {
	width: 340px;
	float: left;
}

#header #search-arxiv .wrapper-search-arxiv .keyword-field {
	float: left;
	border: 1px solid #95989A;
	border-right: none;
	height: 28px;
	width: 200px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 10px;
	color: #222;
}

#header #search-arxiv .wrapper-search-arxiv ::-webkit-input-placeholder
	{
	/* Chrome/Opera/Safari */
	color: #222;
}

#header #search-arxiv .wrapper-search-arxiv ::-moz-placeholder {
	/* Firefox 19+ */
	color: #222;
}

#header #search-arxiv .wrapper-search-arxiv :-ms-input-placeholder {
	/* IE 10+ */
	color: #222;
}

#header #search-arxiv .wrapper-search-arxiv :-moz-placeholder {
	/* Firefox 18- */
	color: #222;
}

#header #search-arxiv .wrapper-search-arxiv .filter-field select {
	background: transparent;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: none;
	border-radius: 0;
	height: 27px;
	font-size: 12px;
	-webkit-appearance: none;
	border-left: none;
	width: 110px;
}

#header #search-arxiv .wrapper-search-arxiv .filter-field {
	float: left;
	padding-right: 2px;
	width: 88px;
	height: 28px;
	overflow: hidden;
	background: #fff url("//static.arxiv.org/icons/arrow-down-select.png")
		no-repeat right 4px;
	background-size: 20px auto;
	border: 1px solid #ccc;
}

#header #search-arxiv .wrapper-search-arxiv .btn-search-arxiv {
	float: left;
	height: 30px;
	width: 30px;
	border: 1px solid #95989A;
	border-left: none;
	background-color: #fff;
	color: #757575;
	padding-right: 5px;
	padding-top: 3px;
	background: #fff url("//static.arxiv.org/icons/search-icon.png")
		no-repeat right 2px;
	background-size: 25px auto;
	cursor: pointer;
}

#header #search-arxiv .wrapper-search-arxiv .links {
	float: left;
	padding-top: 3px;
}

#header #search-semantic .wrapper-search-semantic {
	width: 340px;
	float: left;
}

#header #search-semantic .wrapper-search-semantic .keyword-field {
	float: left;
	border: 1px solid #95989A;
	border-right: none;
	height: 28px;
	width: 290px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 10px;
	background: #fff
		url("//static.arxiv.org/icons/semantic-scholar-logo-1.png") no-repeat
		right 8px;
	background-size: 130px auto;
	color: #264D71;
}

#header #search-semantic .wrapper-search-semantic ::-webkit-input-placeholder
	{
	/* Chrome/Opera/Safari */
	color: #264D71;
}

#header #search-semantic .wrapper-search-semantic ::-moz-placeholder {
	/* Firefox 19+ */
	color: #2B6195;
}

#header #search-semantic .wrapper-search-semantic :-ms-input-placeholder
	{
	/* IE 10+ */
	color: #264D71;
}

#header #search-semantic .wrapper-search-semantic :-moz-placeholder {
	/* Firefox 18- */
	color: #264D71;
}

#header #search-semantic .wrapper-search-semantic .btn-search-semantic {
	float: left;
	height: 30px;
	width: 30px;
	border: 1px solid #95989A;
	background-color: #fff;
	color: #757575;
	padding-right: 5px;
	padding-top: 3px;
	background: #fff url("//static.arxiv.org/icons/search-icon.png")
		no-repeat right 2px;
	background-size: 25px auto;
	cursor: pointer;
}

/****************************************
 *  * Search Semantic Scholar
 *   ****************************************/
#header.cs {
	/* 	padding-bottom: 30px;*/
	padding-top: 0;
}

#header.cs #search {
	position: relative;
	right: -10px;
	width: 685px;
	top: 9px;
	margin-right: 0;
	float: right;
	clear: right;
}

#header.cs #search-arxiv .wrapper-search-arxiv {
	width: 340px;
	float: left;
}

#header.cs #search-arxiv .wrapper-search-arxiv .keyword-field {
	float: left;
	border: 1px solid #95989A;
	border-right: none;
	height: 28px;
	width: 200px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 10px;
	color: #222;
}

#header.cs #search-arxiv .wrapper-search-arxiv ::-webkit-input-placeholder
	{
	/* Chrome/Opera/Safari */
	color: #222;
}

#header.cs #search-arxiv .wrapper-search-arxiv ::-moz-placeholder {
	/* Firefox 19+ */
	color: #222;
}

#header.cs #search-arxiv .wrapper-search-arxiv :-ms-input-placeholder {
	/* IE 10+ */
	color: #222;
}

#header.cs #search-arxiv .wrapper-search-arxiv :-moz-placeholder {
	/* Firefox 18- */
	color: #222;
}

#header.cs #search-arxiv .wrapper-search-arxiv .filter-field select {
	background: transparent;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: none;
	border-radius: 0;
	height: 27px;
	font-size: 12px;
	-webkit-appearance: none;
	border-left: none;
	width: 110px;
}

#header.cs #search-arxiv .wrapper-search-arxiv .filter-field {
	float: left;
	padding-right: 2px;
	width: 88px;
	height: 28px;
	overflow: hidden;
	background: #fff url("//static.arxiv.org/icons/arrow-down-select.png")
		no-repeat right 4px;
	background-size: 20px auto;
	border: 1px solid #ccc;
}

#header.cs #search-arxiv .wrapper-search-arxiv .btn-search-arxiv {
	float: left;
	height: 30px;
	width: 30px;
	border: 1px solid #95989A;
	border-left: none;
	background-color: #fff;
	color: #757575;
	padding-right: 5px;
	padding-top: 3px;
	background: #fff url("//static.arxiv.org/icons/search-icon.png")
		no-repeat right 2px;
	background-size: 25px auto;
	cursor: pointer;
}

#header.cs #search-arxiv .wrapper-search-arxiv .links {
	float: left;
	padding-top: 3px;
}

#header.cs #search-semantic .wrapper-search-semantic {
	width: 330px;
	float: left;
}

#header.cs #search-semantic .wrapper-search-semantic .keyword-field {
	float: left;
	border: 1px solid #95989A;
	border-right: none;
	height: 28px;
	width: 280px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 10px;
	background: #fff
		url("//static.arxiv.org/icons/semantic-scholar-logo-1.png") no-repeat
		right 7px;
	background-size: 110px auto;
	color: #264D71;
}

#header.cs #search-semantic .wrapper-search-semantic ::-webkit-input-placeholder
	{
	/* Chrome/Opera/Safari */
	color: #264D71;
}

#header.cs #search-semantic .wrapper-search-semantic ::-moz-placeholder
	{
	/* Firefox 19+ */
	color: #2B6195;
}

#header.cs #search-semantic .wrapper-search-semantic :-ms-input-placeholder
	{
	/* IE 10+ */
	color: #264D71;
}

#header.cs #search-semantic .wrapper-search-semantic :-moz-placeholder {
	/* Firefox 18- */
	color: #264D71;
}

#header.cs #search-semantic .wrapper-search-semantic .btn-search-semantic
	{
	float: left;
	height: 30px;
	width: 30px;
	border: 1px solid #95989A;
	background-color: #fff;
	color: #757575;
	padding-right: 5px;
	padding-top: 3px;
	background: #fff url("//static.arxiv.org/icons/search-icon.png")
		no-repeat right 2px;
	background-size: 25px auto;
	cursor: pointer;
}

body.with-cu-identity #header #search {
	top: 5px;
}

body.with-cu-identity #header.cs #search {
	top: 10px;
}

body#front.with-cu-identity #header #search {
	top: 30px;
}

/*# sourceMappingURL=searches.css.map */
